<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <nav>
      <div class="site-title">
        <a href="">
          <h1>API Server</h1>
        </a>
      </div>
      <ul>
        <li><a href="/">Display</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/player/create">New player</a></li>
      </ul>
    </nav>
    <div class="create-item content">
      <form action="">
        <label for="name">Name:</label>
        <input type="text" id="title" required />
        <label for="team">Team </label>
        <input type="text" id="snippet" required />
        <label for="titles">Championships:</label>
        <input type="text" id="body" required />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
